<ion-header>
  <ion-navbar>
      <ion-title *ngIf="medicament != null">{{medicament.DenominationMedicament}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <div *ngIf="medicament != null">
      <ion-grid>
        <ion-row>
          <ion-list>
            <ion-label>
              <strong>Dénomination : </strong> 
              <button ion-grid class="Info"> 
                  {{medicament.DenominationMedicament}}
              </button>
            </ion-label>
            <ion-label>
              <strong>Forme : </strong>
              <button ion-grid class="Info"> 
                 {{medicament.FormePharmaceutique}}
              </button>
            </ion-label>
            <ion-label>
              <strong>Voies d'administration : </strong>
              <button ion-grid class="Info"> 
                {{medicament.VoiesAdministration}}
              </button>
            </ion-label>
          </ion-list>
        </ion-row>
      </ion-grid>
    </div>
    <button ion-button color="primary" (click)="Fermer()" block>Retour</button>
</ion-content>
