<ion-header>

  <ion-navbar>
    <ion-title *ngIf="medecin != null">{{medecin.Nom}} {{medecin.Prenom}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding classe="Medecin">
 <div *ngIf="medecin != null">
     <ion-grid>
      <ion-row>

          <ion-list>
            <ion-label>
              <strong>Nom : </strong>
              <button ion-grid class="Info"> 
                {{medecin.Nom}}
              </button>
            </ion-label>
            <ion-label>
              <strong>Prenom : </strong>
              <button ion-grid class="Info"> 
                 {{medecin.Prenom}}
              </button>
            </ion-label>
            <ion-label>
              <strong>Adresse : </strong>
              <button ion-grid class="Info">
                {{medecin.Adresse[0].Numero}} {{medecin.Adresse[0].NomRue}}
              </button>
              <button ion-grid class="Info">
                {{medecin.Adresse[0].CodePostal}} {{medecin.Adresse[0].Ville}}
              </button>
            </ion-label>
            <ion-label>
              <strong>Horaire d'ouverture : </strong>
              <div *ngFor="let horaire of medecin.HoraireOuverture">
                <button ion-grid class="Info">
                  {{horaire.Jour}} : de {{horaire.Matin}} à {{horaire.Soir}}
                </button>
              </div>
            </ion-label>
          </ion-list>

      </ion-row>
    </ion-grid>
    <button ion-button color="primary" (click)="Fermer()" block>Retour</button>
  </div>
</ion-content>
