<ion-header>
    <ion-navbar>
        <button ion-button menu-toggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="migraine != null">{{migraine.Debut}}</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
      <div *ngIf="migraine != null">
          <ion-grid>
           <ion-row>
            <ion-list>
                <ion-label>
                    <strong>Debut : </strong>   {{migraine.DebutPresentation}}
                </ion-label>
                <ion-label>
                    <strong>Fin :</strong>      {{migraine.FinPresentation}}
                </ion-label>
                <ion-label>
                    <strong>Intensité :</strong> {{migraine.Intensite}} / 5
                </ion-label>
                <ion-label>
                    <strong>Durée :</strong>      {{migraine.Duree}} Heures
                </ion-label>
                <ion-label>
                    <strong>Médicament pris : </strong>
                    <button ion-grid class="Medicament" *ngFor="let Medicament of migraine.MedicamentsPris" (click)="VoirMedicament(Medicament)">
                        <div>{{ Medicament.DenominationMedicament }}</div>
                    </button> 
                </ion-label>
                <ion-label>   
                    <strong>Facteurs : </strong>  
                    <button ion-grid class="Facteur" *ngFor="let Facteur of migraine.Facteurs" (click)="VoirFacteur(Facteur)">
                        <div> {{ Facteur.Nom }}</div>
                    </button>
                </ion-label>
            </ion-list>
           </ion-row>
          </ion-grid>
          <button ion-button color="primary" (click)="Fermer()" block>Retour</button>
          <button *ngIf="migraine.Complet == false" ion-button color="primary" (click)="Modifier()" block>Modifier</button>
          <button ion-button color="primary" (click)="supprimer()" block>Supprimer</button>
      </div>
      
      
      
  </ion-content>
  
