div.contenaire{
    background-color: color($colors, primary);
}


button.historiqueComplet, button.historiqueIncomplet {
    display: flex;
    flex-wrap: wrap;
    justify-content : space-between;
    background-color: color($colors, secondary);
    border: 1px solid;
    // color($colors, light);
    
    border-radius: 5px;
    width: 97%;
    height: 50px;
    margin : 2px 5px 2px 5px;
    color: color($colors, light);
}

button.historiqueComplet :hover, button.historiqueIncomplet :hover{
    background-color: color($colors, primary);
}
div.DateDebut, div.DateFin, div.Duree, div.Intensite{
    width: 145px;
    height: 20px;
    padding: 3px;
    padding-top: 5px;
    text-align: left;
    font-size: 1.1rem;
    background-color: color($colors, secondary);
    color: color($colors, light);
}
div.Intensite {
    background-color: color($colors, secondary);
}
div.Intensite > ion-icon{
    font-size: 1.1rem;
    color: color($colors, stars);
}
