<!--
  Generated template for the QuestionnaireFinMigrainePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Fin de la migraine</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="nouvelleMigraine" class="blocquestion">
    <ion-list class="choix">
      <div class="question">
        <p>A quel heure c'est terminé votre migraine ?</p>
      </div>
      <ion-label></ion-label>
      <ion-item>
        <ion-label>Date de Fin</ion-label>
        <ion-datetime displayFormat="DDDD DD MMMM YYYY" [(ngModel)]="DateFin"></ion-datetime>
      </ion-item>
      <div *ngIf="JourMax - JourMin > 0">
        <ion-item class=glissieredateFin>
          <ion-range class="glissiereJours" min={{JourMin}} max={{JourMax}} step="1" snaps="true" pin="true" [(ngModel)]="JourModifie"
            (ionChange)="jourModifie()" color="danger">
            <ion-icon range-left small name="calendar"></ion-icon>
            <ion-icon range-right name="calendar"></ion-icon>
          </ion-range>
        </ion-item>
      </div>
      <ion-label></ion-label>
      <ion-item>
        <ion-label>Heure de Fin</ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm ss" [(ngModel)]="JourFin"></ion-datetime>
      </ion-item>
      <div *ngIf="HeureMax - HeureMin > 0">
        <ion-item class=glissiereHeureFin>
          <ion-range class="glissiereHeure" min={{HeureMin}} max={{HeureMax}} step="1" snaps="true" pin="true" [(ngModel)]="HeureModifie"
            (ionChange)="heureModifie()" color="danger">
            <ion-icon range-left small name="time"></ion-icon>
            <ion-icon range-right name="time"></ion-icon>
          </ion-range>
        </ion-item>
      </div>
      <ion-label></ion-label>
    </ion-list>
    <div class="troisboutons">
      <button class="boutonprecedent" ion-button color="primary" (click)="Annule()" block>
        <ion-icon class="flecheAvant" name="arrow-back" item-start></ion-icon>
      </button>
      <button class="boutonannule" ion-button color="primary" (click)="Fin()" block>
        <span>Pas encore fini</span>
      </button>
      <button class="boutonsuivant" ion-button color="primary" (click)="Suivant()" block>
        <ion-icon class="flecheApres" name="arrow-forward" item-start></ion-icon>
      </button>
    </div>
  </div>
</ion-content>