<!--
  Generated template for the QuestionnaireFacteurPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Facteurs</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <div *ngIf="nouvelleMigraine">
      <ion-list>
        <ion-item>
          <div ion-grid class="question">
            <p>Quel sont les facteurs impliqué dans cette migraine ?</p>
          </div>
        </ion-item>
        <ion-label></ion-label>
  
      </ion-list>
  
      <button ion-grid class="facteur" *ngFor="let facteur of compte.MesFacteurs">
        <ion-row>
          <div class="textfacteur">{{facteur.Question}}</div>
          <div *ngIf="facteur.TypeDeReponse.ID == 2" class="permutteur">
              <div class="affichagenon" *ngIf="facteur.Selection == false">Non</div>
              <div class="affichagenon" *ngIf="facteur.Selection == true"></div>
              <ion-toggle class="checkfacteur" [(ngModel)]="facteur.Selection" checked="false" (click)="Permut(facteur)"></ion-toggle>
              <div class="affichageoui" *ngIf="facteur.Selection">Oui</div>
              <div class="affichageoui" *ngIf="facteur.Selection == false"></div>
          </div>
          <div *ngIf="facteur.TypeDeReponse.ID == 1" class="permutteur">
              <div class="blockEtoiles" *ngIf="EtoileSelection == false">
                <button class="boutonetoile" color="primary" (click)="ValidIntensiteFacteur(facteur, 1)" (mouseenter)="IntensiteFacteur(1)" block>
                  <ion-icon button class="ministars1" range-right name={{Etoile1}}></ion-icon>
                </button>
                <button class="boutonetoile" color="primary" (click)="ValidIntensiteFacteur(facteur, 2)" (mouseenter)="IntensiteFacteur(2)" block>
                  <ion-icon button class="ministars2" range-right name={{Etoile2}}></ion-icon>
                </button>
                <button class="boutonetoile" color="primary" (click)="ValidIntensiteFacteur(facteur, 3)" (mouseenter)="IntensiteFacteur(3)" block>
                  <ion-icon button class="ministars3" range-right name={{Etoile3}}></ion-icon>
                </button>
                <button class="boutonetoile" color="primary" (click)="ValidIntensiteFacteur(facteur, 4)" (mouseenter)="IntensiteFacteur(4)" block>
                  <ion-icon button class="ministars4" range-right name={{Etoile4}}></ion-icon>
                </button>
                <button class="boutonetoile" color="primary" (click)="ValidIntensiteFacteur(facteur, 5)" (mouseenter)="IntensiteFacteur(5)" block>
                  <ion-icon button class="ministars5" range-right name={{Etoile5}}></ion-icon>
                </button>
              </div>
              <div class="blockEtoiles" *ngIf=EtoileSelection>
                <button class="boutonetoile" color="primary" (click)="ValidIntensiteFacteur(facteur, 1)" block>
                  <ion-icon button class="ministars1Select" range-right name={{Etoile1}}></ion-icon>
                </button>
                <button class="boutonetoile" color="primary" (click)="ValidIntensiteFacteur(facteur, 2)" block>
                  <ion-icon button class="ministars2Select" range-right name={{Etoile2}}></ion-icon>
                </button>
                <button class="boutonetoile" color="primary" (click)="ValidIntensiteFacteur(facteur, 3)" block>
                  <ion-icon button class="ministars3Select" range-right name={{Etoile3}}></ion-icon>
                </button>
                <button class="boutonetoile" color="primary" (click)="ValidIntensiteFacteur(facteur, 4)" block>
                  <ion-icon button class="ministars4Select" range-right name={{Etoile4}}></ion-icon>
                </button>
                <button class="boutonetoile" color="primary" (click)="ValidIntenisteFacteur(facteur, 5)" block>
                  <ion-icon button class="ministars5Select" range-right name={{Etoile5}}></ion-icon>
                </button>
              </div>
          </div>
          
          
        </ion-row>
      </button>
  
    </div>
  
    <div class="troisboutons">
      <button class="boutonprecedent" ion-button color="primary" (click)="Annule()" block>
        <ion-icon class="flecheAvant" name="arrow-back" item-start></ion-icon>
      </button>
      <button class="boutonannule" ion-button color="primary" (click)="Fin()" block>
        <span>La suite plus tard</span>
      </button>
  
      <button class="boutonsuivant" ion-button color="primary" (click)="Suivant()" block>
        <ion-icon class="flecheApres" name="arrow-forward" item-start></ion-icon>
      </button>
  
    </div>
  </ion-content>
