<ion-header>
    <ion-navbar>
        <ion-title *ngIf="facteur != null">{{facteur.Nom}}</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
      <div *ngIf="facteur != null">
        <ion-grid>
          <ion-row>
            <ion-list>
              <ion-label>
                <strong>Nom : </strong>
                <button ion-grid class="Info"> 
                    {{facteur.Nom}}
                </button> 
              </ion-label>
              <ion-label>
                <strong>Question : </strong>
                <button ion-grid class="Info"> 
                  {{facteur.Question}}
                </button>
              </ion-label>
              <ion-label>
                <strong>Type De Facteur : </strong>
                <button ion-grid class="Info"> 
                  {{facteur.TypeDeFacteur.Type}}
                </button>
              </ion-label>
              <ion-label>
                <strong>Type De Reponse : </strong>
                <button ion-grid class="Info">
                  {{facteur.TypeDeReponse.Type}}
                </button>
              </ion-label>
              <ion-label>
                  <strong>Information : </strong>
                  <button ion-grid class="Info"> 
                    {{facteur.TypeDeReponse.Information}}
                  </button>
                </ion-label>
            </ion-list>
          </ion-row>
        </ion-grid>
      </div>
      <button ion-button color="primary" (click)="Fermer()" block>Retour</button>
  </ion-content>
  